
		<div id="main" role="main">
			<div class="row">
				<div class="col-lg-7 object-holder">
					<button type="button" class="btn btn-primary pull-right" ng-click="collapsedchart=!collapsedchart" >
					  Chart
					</button><button type="button" class="btn btn-primary pull-right" ng-click="collapsedtable=!collapsedtable" style="margin-right:5px">
					  Table
					</button>
					<div ng-show="collapsedchart"><get-object qvid="'PDVLj'" id="'PDVLj'" height="400" interaction="true"></get-object></div>
					<div ng-show="collapsedtable"><get-object qvid="'HrmsPt'" id="'HrmsPt'" height="400" interaction="true"></get-object></div>
				</div>
			</div>
		</div>


